<div class="row">
  <div class="col-md-12 well">
    <form>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter GitHub Username" [(ngModel)]="username" name="username" (keyup)="searchUser()">
        </div>
      </div>
      <div class="col-md-6">
        <label class="checkbox-inline">
          <input type="checkbox" data-toggle="toggle"> Location
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" data-toggle="toggle"> Stars
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" data-toggle="toggle"> Project Type
        </label>
        <button type="submit" class="btn btn-success" (click)="submitStatus()">Submit</button>
      </div>
    </form>
  </div>
</div>



<div *ngIf="locationUsers">

  <!-- user info panel -->

  <div *ngFor="let personUser of locationUsers">

      <div class="row well">

        <div class="col-md-3">
          <a href="{{personUser.html_url}}" class="thumbnail">
            <img src="{{ personUser.avatar_url }}" alt="...">
          </a>
        </div>
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item"><b>UserName: </b>{{personUser.login}}</li>
          </ul>
        </div>

        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><b>Location: </b>{{personUser.location}}</li>
            <li class="list-group-item"><b>Email: </b>{{personUser.email}}</li>
            <li class="list-group-item"><b>Blog: </b>{{personUser.blog}}</li>
            <li class="list-group-item"><b>Member Since: </b>{{personUser.created_at}}</li>
          </ul>
        </div>
      </div>

  </div>

</div>
